@import 'config';
.wafy-flex{
    display:flex;
    justify-content:space-between;
    border:2px solid #e8ffe8;
    padding:7px;
   
}
.wafy-container{
    .wafy-row{
        display:grid;
        padding:8px;
        gap:10px;

       &.two_col{
        grid-template-columns:1fr 1fr;
       }
       &.one_half{
        grid-template-columns:120px 1fr;
       }
    }
    label, .label{
        font-weight:600 !important;
        color:#0e153a;
        display:block;
       
    }
    
}
.wafy-text-field{
    width:100%;

}
.wafy-button-preview{
    display:flex;
    align-content:center;
    flex-direction: column;
    gap:2px;
    background:#d7eaea;
    border-radius:8px;
    h3{
        color:#0e153a;
    }
   &__holder{
    display:flex;
    justify-content: center;

        a{
            text-decoration:none;
        }
        #wafy_btn_house{
            display:flex;
            padding:13px 25px;
            font-weight:600;
            margin-top:30px;
            justify-content: center;
            gap:7px;
                span{
                    font-size:33px;
                    display:inline-block;
                }
        }
   }
}
.wafy-availability-toggle{
    border:1px solid lightgrey;
    padding:20px;
}
.wafy-agent-active{
    color: #24b273;
    font-weight:600;
}
.wafy_admin_wrapper{
    margin:0px 0px 0px -18px;
    &__header{
        background-color:#ffffff;
        padding:10px;
        display:flex;
        gap:10px;
        img{
            height:80px;
        }
        div{
                
                p{
                    margin-top: -11px;
                }
        }
    }
    
}

.wafy_agent_row{
    background:#fbfae1;
}

.nav-tab-active{
    color:#24b273 !important;
    border-bottom:1px solid transparent;
    
}
.nav-tab{
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}

/*
Wafy Widget Design
*/
.w-flex-me{
    display:flex;
    justify-content:space-between;
}
.wafy_widget{
    background:red;
    width:360px;
    padding:0px;
    overflow:hidden;
    border-radius:8px;
    position:fixed;
    z-index:1000;
    right:10px;
    bottom:40px;
    &__head{
        padding:11px;
        background:yellow;
        
    }
    &__head-title{
            padding:12px 0px;
            font-size:20px;
            font-weight:600;
        }
    &__body{
        padding:11px;
        background:blue;
    }

    &__entrance-card{
        padding:10px;
        background:#fff;
        border-radius:10px;
    }
    &__chat-card{
        padding:10px 4px;
        overflow-y:auto;
    }
}